{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
{% include "partials/header.html" %}

<!-- adding mathjax -->
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
    }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>

<!-- end mathjax script -->

<!--  altmetric script: https://api.altmetric.com/embeds.html -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<!-- end altmetric script -->


<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
        <a style="display:inline" align="center" href="/about">
            <img src={{ config.extra.welcome_image }} width="100%" height="50%" />
        </a>
        {% endblock main_content %}
    </div>
</body>

</html>